BODY {
	FONT-FAMILY: arial,helvetica,verdana, sans-serif
}
DIV {
	FONT-FAMILY: arial,helvetica,verdana, sans-serif
}
TH {
	FONT-FAMILY: arial,helvetica,verdana, sans-serif
}
TD {
	FONT-FAMILY: arial,helvetica,verdana, sans-serif
}
TD {
	FONT-SIZE: 12px !important
}
A {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #000066
}
A:hover {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #000066
}
BODY {
	DISPLAY: block
}
.appTitle {
	COLOR: #ffffff
}
A.CovTab {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff
}
A.CovTab:hover {
	TEXT-DECORATION: underline; COLOR: #ffffcc
}
A.CovTopLinks {
	FONT-SIZE: 11px; TEXT-DECORATION: none; FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-WEIGHT: normal; COLOR: #ffffff
}
A.CovTopLinks:hover {
	TEXT-DECORATION: underline; FONT-WEIGHT: normal; COLOR: #ffffcc
}
.DarkLine {
	BACKGROUND: #000000
}
.CovTabBar {
	BACKGROUND: #2a74aa
}
SPAN.CovTextLatch {
	COLOR: #ffffcc
}
SPAN.CovTabPipe {
	COLOR: #ffffff
}
.CovSpacerBar {
	BACKGROUND: #cecfce
}
.businessCard {
	FONT-SIZE: 10px
}
.CovTab {
	FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-FAMILY: Constantia, sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff
}
.appTabsBG {
	BACKGROUND: #0063be
}
A.mainNav {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
A.mainNav:hover {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #ffcc33
}
A.mainNavLatch {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffcc33; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
A.mainNavLatch:hover {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #ffcc33
}
#advNav {
	WIDTH: 180px; BACKGROUND-COLOR: #f1f1f1; -moz-box-sizing: border-box
}
#navcontainer H4 {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; COLOR: #336699; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT: bold 11px tahoma,arial,helvetica,sans-serif; PADDING-LEFT: 6px; MARGIN: 10px 0px 0px; BORDER-LEFT: 0px; PADDING-RIGHT: 0px
}
#navcontainer H4 A:link {
	TEXT-DECORATION: none; COLOR: #336699; DISPLAY: block
}
#navcontainer H4 A:visited {
	TEXT-DECORATION: none; COLOR: #336699
}
#navcontainer H4 A:hover {
	TEXT-DECORATION: underline; COLOR: #336699
}
#navcontainer {
	PADDING-BOTTOM: 20px; TEXT-ALIGN: left; PADDING-TOP: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px
}
#navcontainer UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT: 11px tahoma,arial,helvetica sans-serif; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#navcontainer UL LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: inline; LINE-HEIGHT: 120%; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
#navcontainer UL LI#current {
	WIDTH: 100%; COLOR: #c30; DISPLAY: block; BACKGROUND-COLOR: #fff
}
#navcontainer UL LI#current A {
	FONT-WEIGHT: normal; COLOR: #c30; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 2px
}
#navcontainer UL LI#current A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #336699
}
#navcontainer UL A:link {
	TEXT-DECORATION: none; WIDTH: 100%; FONT-WEIGHT: normal; COLOR: #336699; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 6px; DISPLAY: block; PADDING-RIGHT: 1px; -moz-box-sizing: border-box
}
#navcontainer UL A:visited {
	TEXT-DECORATION: none; WIDTH: 100%; FONT-WEIGHT: normal; COLOR: #336699; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 6px; DISPLAY: block; PADDING-RIGHT: 1px; -moz-box-sizing: border-box
}
#navcontainer UL A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #3c78b4
}
#navcontainer2 {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px
}
#navcontainer2 UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT: 11px tahoma,arial,helvetica sans-serif; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#navcontainer2 UL LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: inline; LINE-HEIGHT: 120%; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
#navcontainer2 UL LI#current {
	WIDTH: 100%; COLOR: #c30; DISPLAY: block; BACKGROUND-COLOR: #fff
}
#navcontainer2 UL LI#current A {
	FONT-WEIGHT: bold; COLOR: #c30; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 2px
}
#navcontainer2 UL LI#current A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #336699
}
#navcontainer2 UL A:link {
	TEXT-DECORATION: none; WIDTH: 100%; COLOR: #336699; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 6px; DISPLAY: block; PADDING-RIGHT: 1px; -moz-box-sizing: border-box
}
#navcontainer2 UL A:visited {
	TEXT-DECORATION: none; WIDTH: 100%; COLOR: #336699; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 6px; DISPLAY: block; PADDING-RIGHT: 1px; -moz-box-sizing: border-box
}
#navcontainer2 UL A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #3c78b4
}
.pageTitle {
	MARGIN-BOTTOM: 0.6em; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #ed7642; MARGIN-TOP: 0.2em
}
.subhead {
	FONT-SIZE: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #666666
}
.steps {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #d34a28; PADDING-BOTTOM: 3px
}
.highlight {
	TEXT-DECORATION: none; COLOR: #000000; BACKGROUND-COLOR: #ffff99
}
.inlineHeader {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #000000; PADDING-BOTTOM: 3px; PADDING-TOP: 1px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.underNav {
	
}
.sectionHeader {
	HEIGHT: 25px; BORDER-RIGHT: #afcdf3 1px solid; WIDTH: 100%; BACKGROUND: url(/images/sectionheader_bg.png) #e0edfc repeat-x 0px 0px; COLOR: #666; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 10px; BORDER-LEFT: #8cb4e4 1px solid; PADDING-RIGHT: 10px
}
.sectionHeader2 {
	HEIGHT: 25px; BORDER-RIGHT: #afcdf3 1px solid; BACKGROUND: url(/images/sectionheader_bg.png) #e0edfc repeat-x 0px 0px; TEXT-TRANSFORM: capitalize; COLOR: #666; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 10px; BORDER-LEFT: #8cb4e4 1px solid; PADDING-RIGHT: 10px
}
.sectionHeaderAlt {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #cecfce
}
.underNavBg {
	BACKGROUND-COLOR: #e7e7e7
}
.sectionSubheader {
	BORDER-BOTTOM: #a8a8a8 1px solid; FONT-WEIGHT: bold; COLOR: #444444; BACKGROUND-COLOR: #f1f1f1
}
.tableDataTitle {
	FONT-SIZE: 12px; COLOR: #333333; BACKGROUND-COLOR: #f1f1f1
}
.tableDataTitleInvite {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #333333; BACKGROUND-COLOR: #f1f1f1
}
.tableDataTitleReq {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ed7642
}
.formInstructText {
	MARGIN-BOTTOM: 0.6em; FONT-SIZE: 14px; COLOR: #707070
}
.portletTitle {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #e3e3e3; BACKGROUND-COLOR: #666699
}
.portletTitleRed {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ffffcc; BACKGROUND-COLOR: #990000
}
.columnHeader {
	FONT-SIZE: 11px !important; WIDTH: auto; TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold; COLOR: #c45427; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; PADDING-RIGHT: 2px; BACKGROUND-COLOR: #e7e7e7
}
.columnHeader1 {
	FONT-SIZE: 11px !important; TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold; COLOR: #c45427; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; PADDING-RIGHT: 2px; BACKGROUND-COLOR: #e7e7e7
}
.tableData {
	FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.tableDataAlt {
	COLOR: #000000; BACKGROUND-COLOR: #f1f1f1
}
.tableDataAlert {
	FONT-WEIGHT: bold; COLOR: #ffff99; BACKGROUND-COLOR: #336699
}
.tableDataAlertNeg {
	FONT-WEIGHT: bold; COLOR: #ffffcc; BACKGROUND-COLOR: #993333
}
.tableDataUnderscore {
	OVERFLOW: auto; FONT-SIZE: 12px; MAX-WIDTH: 500px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #a8a8a8 1px solid; WORD-BREAK: break-all; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.tableDataUnderscoreNoArrow {
	OVERFLOW: auto; FONT-SIZE: 12px; MAX-WIDTH: 500px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #a8a8a8 1px solid; WORD-BREAK: break-all; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.tableDataUnderscoreAlt {
	OVERFLOW: auto; MAX-WIDTH: 500px; BORDER-BOTTOM: #a8a8a8 1px solid; WORD-BREAK: break-all; COLOR: #000000; BACKGROUND-COLOR: #f1f1f1
}
.tableDataUnderscoreNoArrowAlt {
	OVERFLOW: auto; MAX-WIDTH: 500px; BORDER-BOTTOM: #a8a8a8 1px solid; WORD-BREAK: break-all; COLOR: #000000; BACKGROUND-COLOR: #f1f1f1
}
.tableDataUnderscoreSel {
	BORDER-BOTTOM: #a8a8a8 1px solid; COLOR: #000000; BACKGROUND-COLOR: #e9d0b6
}
.tableDataUnderscoreGrn {
	BORDER-BOTTOM: #a8a8a8 1px solid; COLOR: #000000; BACKGROUND-COLOR: #e3fde3
}
.wizTableCellUnderscore {
	FONT-SIZE: 12px; BORDER-BOTTOM: #a8a8a8 1px solid; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.wizTableCellBkgdUnderscore {
	FONT-SIZE: 12px; BORDER-BOTTOM: #a8a8a8 1px solid; COLOR: #000000; BACKGROUND-COLOR: #e8e8e8
}
.tableCellBkgd {
	FONT-SIZE: 12px; COLOR: #222222; BACKGROUND-COLOR: #dbdbdb
}
.pagingDropdown {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma, Geneva, sans-serif; FONT-WEIGHT: normal; COLOR: #000000; FONT-STYLE: normal; LINE-HEIGHT: normal
}
.warningBorder {
	BACKGROUND-COLOR: #c00000
}
.warningred {
	COLOR: #c00000; MARGIN: 0px 0px 0px 5px
}
.req {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.grayText {
	MARGIN-BOTTOM: 0.6em; FONT-SIZE: 14px; COLOR: #707070
}
.mpPortletDescript {
	MARGIN-BOTTOM: 0.6em; FONT-SIZE: 12px; COLOR: #000000; MARGIN-TOP: 0.6em
}
.textShade {
	COLOR: #333333
}
.textShadeLarge {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #333333
}
.pagingActive {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.pagingBorder {
	FONT-SIZE: 12px; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; FONT-WEIGHT: bold; COLOR: #000000; BORDER-LEFT: #666666 1px solid; BACKGROUND-COLOR: #fffff7
}
A.pagingLink {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #663399
}
A.pagingLink:hover {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #663399
}
A.headerLink {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #fff
}
A.headerLink:hover {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #fff
}
.tipPara {
	PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
INPUT.buttonOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg_125.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.button {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg_125.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonWide {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 175px; BACKGROUND: url(/images/richButtonBg_175.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonWideOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 175px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonWideOn225 {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 225px; BACKGROUND: url(/images/richButtonBg_225.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonExtWide {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 250px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonNarrow {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 70px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonNarrowOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 70px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonWider {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 200px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonWiderOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 200px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonWidest {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 300px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonSuperWideOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 335px; BACKGROUND: url(/images/richButtonBg_335.png) right top; BORDER-BOTTOM: 0px; FONT-WEIGHT: bold; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonWidestOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 225px; BACKGROUND: url(/images/richButtonBg_225.png) right top; BORDER-BOTTOM: 0px; FONT-WEIGHT: bold; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonGO {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 20px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
INPUT.buttonShortOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 17px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg_125.png) right top; BORDER-BOTTOM: 0px; COLOR: #ffffff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
.secondaryNav {
	FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #cdcddd
}
.tableDataTitleReqUnderscore {
	FONT-SIZE: 12px; BORDER-BOTTOM: #a8a8a8 1px solid; FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ff9999
}
.tableDataTitleUnderscore {
	FONT-SIZE: 12px; BORDER-BOTTOM: #a8a8a8 1px solid; COLOR: #333333; BACKGROUND-COLOR: #f9f4e9
}
.pageSubTitles {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #860017
}
.textFooter {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, sans-serif; COLOR: #333333
}
LI.stepComplete {
	LIST-STYLE-TYPE: none; BACKGROUND: url(/images/iconCheckmark.gif) no-repeat left top; FONT-WEIGHT: bold; COLOR: #508f00; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; PADDING-LEFT: 22px; MARGIN: 0px 0px 0px -30px; LIST-STYLE-IMAGE: none; PADDING-RIGHT: 0px
}
LI.stepCurrent {
	LIST-STYLE-TYPE: none; BACKGROUND: url(/images/iconArrow.gif) no-repeat left top; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; PADDING-LEFT: 22px; MARGIN: 0px 0px 0px -30px; LIST-STYLE-IMAGE: none; PADDING-RIGHT: 0px
}
LI.stepFuture {
	LIST-STYLE-TYPE: none; FONT-WEIGHT: normal; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; PADDING-LEFT: 22px; MARGIN: 0px 0px 0px -30px; LIST-STYLE-IMAGE: none; PADDING-RIGHT: 0px
}
.stylized {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.stylized H1 {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM-STYLE: none; COLOR: #212f3a; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 1px; MARGIN: 0px 0px 12px; BORDER-LEFT-STYLE: none; PADDING-RIGHT: 0px
}
.stylized H1.alarm {
	BACKGROUND: url(/images/iconHeaderAlarm.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.alert {
	BACKGROUND: url(/images/iconHeaderAlert.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.calendar {
	BACKGROUND: url(/images/iconHeaderCalendar.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.chart {
	BACKGROUND: url(/images/iconHeaderChart.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.checkmark {
	BACKGROUND: url(/images/iconHeaderCheckmark.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.encrypted {
	BACKGROUND: url(/images/iconHeaderEncrypted.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.group {
	BACKGROUND: url(/images/iconHeaderGroup.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.help {
	BACKGROUND: url(/images/iconHeaderHelp.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.info {
	BACKGROUND: url(/images/iconHeaderInfo.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.lock {
	BACKGROUND: url(/images/iconHeaderLock.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.person {
	BACKGROUND: url(/images/iconHeaderPerson.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.search {
	BACKGROUND: url(/images/iconHeaderSearch.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.star {
	BACKGROUND: url(/images/iconHeaderStar.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.step {
	BACKGROUND: url(/images/iconHeaderStep.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized H1.world {
	BACKGROUND: url(/images/iconHeaderWorld.png) no-repeat 0px 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px
}
.stylized P {
	BORDER-BOTTOM: #b7ddf2 1px solid; COLOR: #666; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.stylized LABEL {
	WIDTH: 125px; FLOAT: none; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 6px 0px 0px; DISPLAY: block
}
.stylized .small {
	FONT-SIZE: 11px; WIDTH: 125px; FONT-WEIGHT: normal; COLOR: #666; TEXT-ALIGN: right; DISPLAY: block
}
.stylized INPUT {
	FONT-SIZE: 12px; BORDER-TOP: #aacfe4 1px solid; HEIGHT: 25px; BORDER-RIGHT: #aacfe4 1px solid; BACKGROUND-IMAGE: url(/images/bgInputShadow.png); BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #aacfe4 1px solid; FLOAT: none; MARGIN: 2px 10px 0px; BORDER-LEFT: #aacfe4 1px solid
}
INPUT.noHeight {
	VERTICAL-ALIGN: middle
}
.stylized INPUT.twoFAModeChecked {
	FONT-SIZE: 12px; BORDER-TOP: #aacfe4 0px solid; HEIGHT: 25px; BORDER-RIGHT: #aacfe4 0px solid; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #aacfe4 0px solid; FLOAT: none; MARGIN: 2px 10px 0px; BORDER-LEFT: #aacfe4 0px solid
}
.stylized INPUT.buttonOn {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #fff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.stylized INPUT.faOptionChecked {
	FONT-SIZE: 12px; BORDER-TOP: #aacfe4 0px solid; HEIGHT: 10px; BORDER-RIGHT: #aacfe4 0px solid; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #aacfe4 0px solid; FLOAT: none; MARGIN: 2px 10px 0px; BORDER-LEFT: #aacfe4 0px solid
}
.stylized BUTTON {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #fff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.stylized .btnenabled {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #fff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.stylized .btndisabled {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg.png) right top; BORDER-BOTTOM: 0px; COLOR: #fff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.tempPasswordFragment {
	FONT-SIZE: 1.5em; BORDER-TOP: #b7ddf2 2px solid; BORDER-RIGHT: #b7ddf2 2px solid; WIDTH: auto; BORDER-BOTTOM: #b7ddf2 2px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #b7ddf2 2px solid; PADDING-RIGHT: 2px; BACKGROUND-COLOR: #ecf6f8
}
.countryPhoneCode {
	BORDER-TOP: lightgrey 1px solid; BORDER-RIGHT: lightgrey 1px solid; WIDTH: 1cm; BORDER-BOTTOM: lightgrey 1px solid; POSITION: relative; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: lightgrey 1px solid; DISPLAY: inline-block; TOP: 1px; PADDING-RIGHT: 3px
}
#showLabel {
	DISPLAY: none
}
.pageTitle {
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif !important; COLOR: #ec6731; MARGIN-LEFT: 18px; MARGIN-TOP: 22px
}
.warning {
	COLOR: #666; MARGIN: 0px 0px 0px 5px
}
.x-btn-default-small-over {
	BACKGROUND: #2971a8
}
.appTabsBG TD {
	
}
.toolbarbg {
	
}
#toolbar {
	
}
#container {
	
}
.x-toolbar-default {
	BACKGROUND: url(/images/menu_bg.png) repeat-x 0px 0px
}
#container {
	OVERFLOW: hidden; MARGIN-LEFT: 0px
}
#ext-gen1012 {
	WIDTH: 990px !important
}
.DarkLine {
	DISPLAY: none
}
.appTabsBG {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.businessCard {
	FONT-SIZE: 14px; COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.CovSpacerBar {
	DISPLAY: none
}
#showLabel {
	DISPLAY: none !important
}
.columnHeader {
	COLOR: #c45427
}
.columnHeader1 {
	COLOR: #c45427
}
.x-toolbar {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.x-btn-default-toolbar-small .x-btn-inner {
	FONT-SIZE: 14px !important; FONT-FAMILY: "Trebuchet MS",helvetica, arial, verdana, sans-serif !important; BACKGROUND-REPEAT: no-repeat; FONT-WEIGHT: normal !important; COLOR: #fff !important; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.x-btn-default-toolbar-small .x-btn-inner:hover {
	COLOR: #000
}
.x-toolbar-item:hover {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BACKGROUND: #2971a8; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.x-btn-arrow {
	
}
.x-toolbar .x-toolbar-separator-horizontal {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.CovTabBar {
	HEIGHT: 84px !important
}
A.CovTab {
	FONT-SIZE: 0px; TEXT-DECORATION: none; HEIGHT: 50px; FONT-FAMILY: "Trebuchet MS",Tahoma, Arial, sans-serif !important; WIDTH: 510px; BACKGROUND: url(/images/cloud_identity_provider.png) no-repeat 0px 0px; POSITION: absolute; FONT-WEIGHT: normal !important; COLOR: transparent; PADDING-BOTTOM: 38px; PADDING-TOP: 10px; PADDING-LEFT: 510px; LEFT: 0px; TOP: 0px; PADDING-RIGHT: 0px
}
A.CovTab:hover {
	TEXT-DECORATION: none; COLOR: transparent
}
.x-btn-over {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BACKGROUND: #2971a8; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
INPUT.buttonWide {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonWideOn {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonWideOn225 {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonOn {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.button {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonExtWide {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonNarrow {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonNarrowOn {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonWidest {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonSuperWideOn {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonWidestOn {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
INPUT.buttonGO {
	TEXT-TRANSFORM: capitalize; FONT-WEIGHT: bold !important; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.x-btn-center:hover {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BACKGROUND: #2971a8; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.x-btn-center {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
HTML {
	OVERFLOW: auto
}
.sectionHeader SPAN {
	COLOR: #666 !important
}
.sectionHeader2 SPAN {
	COLOR: #666 !important
}
.sectionHeader1 SPAN {
	COLOR: #666 !important
}
.sectionHeader1 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #666 !important
}
.x-menu-item-link {
	FONT-WEIGHT: normal !important
}
.tempPasswordFragment {
	BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid; BACKGROUND: #f8ffcc; BORDER-BOTTOM: #c0c0c0 1px solid; MARGIN-LEFT: 5px; BORDER-LEFT: #c0c0c0 1px solid
}
.data_td {
	WIDTH: 49%
}
#header {
	MARGIN-TOP: -12px
}
#password_policies {
	BORDER-LEFT-WIDTH: 1px !important; BORDER-RIGHT-WIDTH: 1px !important; BORDER-BOTTOM-WIDTH: 1px !important; PADDING-BOTTOM: 0px; BORDER-TOP-WIDTH: 1px !important; BACKGROUND-COLOR: white
}
#password_policies2 {
	BORDER-LEFT-WIDTH: 1px !important; BORDER-RIGHT-WIDTH: 1px !important; BORDER-BOTTOM-WIDTH: 1px !important; PADDING-BOTTOM: 0px; BORDER-TOP-WIDTH: 1px !important; BACKGROUND-COLOR: white
}
#password_policies3 {
	BORDER-LEFT-WIDTH: 1px !important; BORDER-RIGHT-WIDTH: 1px !important; BORDER-BOTTOM-WIDTH: 1px !important; PADDING-BOTTOM: 0px; BORDER-TOP-WIDTH: 1px !important; BACKGROUND-COLOR: white
}
#password_policies UL {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-TOP: 0px; PADDING-RIGHT: 0px
}
#password_policies2 UL {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-TOP: 0px; PADDING-RIGHT: 0px
}
#password_policies3 UL {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-TOP: 0px; PADDING-RIGHT: 0px
}
#password_policies UL LI {
	VERTICAL-ALIGN: top; MARGIN-LEFT: 25px; LIST-STYLE-IMAGE: url(/images/invalid.gif); LINE-HEIGHT: 16px
}
#password_policies2 UL LI {
	VERTICAL-ALIGN: top; MARGIN-LEFT: 25px; LIST-STYLE-IMAGE: url(/images/invalid.gif); LINE-HEIGHT: 16px
}
#password_policies3 UL LI {
	VERTICAL-ALIGN: top; MARGIN-LEFT: 25px; LIST-STYLE-IMAGE: url(/images/invalid.gif); LINE-HEIGHT: 16px
}
.x-ie7 #password_policies UL LI {
	PADDING-TOP: 2px; PADDING-LEFT: 7px; MARGIN-LEFT: 20px
}
.x-ie7 #password_policies2 UL LI {
	PADDING-TOP: 2px; PADDING-LEFT: 7px; MARGIN-LEFT: 20px
}
.x-ie7 #password_policies3 UL LI {
	PADDING-TOP: 2px; PADDING-LEFT: 7px; MARGIN-LEFT: 20px
}
#password_policies UL .valid {
	LIST-STYLE-IMAGE: url(/images/valid.gif)
}
#password_policies2 UL .valid {
	LIST-STYLE-IMAGE: url(/images/valid.gif)
}
#password_policies3 UL .valid {
	LIST-STYLE-IMAGE: url(/images/valid.gif)
}
.userNameSuggestion {
	MARGIN-BOTTOM: 0.6em; FONT-SIZE: 100%; COLOR: #319e35
}
.userNameSuggestionHeader {
	FONT-WEIGHT: bold; COLOR: #19851d
}
#captcha_container {
	BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 0px solid; WIDTH: 100%; BORDER-BOTTOM: #ccc 0px solid; CLEAR: both; BORDER-LEFT: #ccc 0px solid
}
#captcha_col_left {
	BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 0px solid; WIDTH: 260px; BORDER-BOTTOM: #ccc 0px solid; FLOAT: left; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #ccc 0px solid
}
#captcha_col_right {
	BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 0px solid; WIDTH: 30px; BORDER-BOTTOM: #ccc 0px solid; FLOAT: left; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #ccc 0px solid
}
#captcha_type {
	MARGIN-BOTTOM: 1px; MARGIN-TOP: 1px
}
#captcha {
	MARGIN: 0px
}
.captchaUpdate {
	HEIGHT: 70px; WIDTH: 200px; BACKGROUND-IMAGE: url(/resources/themes/images/default/shared/blue-loading.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%
}
audio {
	WIDTH: 260px; MARGIN-TOP: 22px
}
.ui-dialog {
	BORDER-TOP: #2a74aa 1px solid; BORDER-RIGHT: #2a74aa 1px solid; WIDTH: 300px; BORDER-BOTTOM: #2a74aa 1px solid; POSITION: absolute; BORDER-LEFT: #2a74aa 1px solid; BACKGROUND-COLOR: #ffffff
}
.ui-dialog .ui-dialog-titlebar {
	FONT-SIZE: 12px; HEIGHT: 18px; BACKGROUND: url(/images/menu_bg.png) #f6a828 repeat-x 50% 50%; FONT-WEIGHT: bold; COLOR: white; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0px
}
.ui-dialog .ui-dialog-title {
	MARGIN: 0.1em 0px 0.2em
}
.ui-dialog .ui-dialog-titlebar-close {
	HEIGHT: 18px; WIDTH: 19px; RIGHT: 0.3em; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; MARGIN: -10px 0px 0px; DISPLAY: none; TOP: 50%; PADDING-RIGHT: 1px
}
.ui-dialog .ui-dialog-titlebar-close SPAN {
	MARGIN: 1px; DISPLAY: block
}
.ui-dialog .ui-dialog-titlebar-close:hover {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ui-dialog .ui-dialog-titlebar-close:focus {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ui-dialog .ui-dialog-content {
	OVERFLOW: auto; FONT-SIZE: 12px; BORDER-TOP: 1px; HEIGHT: 20px; BORDER-RIGHT: 1px; BACKGROUND: #ffffff; BORDER-BOTTOM: 1px; ZOOM: 1; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; PADDING-LEFT: 1em; BORDER-LEFT: 1px; PADDING-RIGHT: 1em
}
.ui-dialog .ui-dialog-buttonpane {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-IMAGE: none; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: center; MARGIN: 0px; BORDER-TOP-WIDTH: 0px
}
.ui-dialog .ui-dialog-buttonset {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-IMAGE: none; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0em; MARGIN: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
.ui-dialog .ui-dialog-buttonpane BUTTON {
	CURSOR: pointer; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 125px; BACKGROUND: url(/images/richButtonBg_125.png) right top; BORDER-BOTTOM: 0px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 4px; PADDING-TOP: 0px; PADDING-LEFT: 0em; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 29px; PADDING-RIGHT: 0em; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
.ui-dialog .ui-resizable-se {
	HEIGHT: 14px; WIDTH: 14px; RIGHT: 3px; BOTTOM: 3px
}
.ui-draggable .ui-dialog-titlebar {
	CURSOR: move
}
TD {
	
}
.listTable {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 5px 0px; PADDING-RIGHT: 0px
}
.listTable LI.tableDataUnderscore {
	LIST-STYLE-POSITION: inside; LIST-STYLE-IMAGE: url(/images/iconPointerBlueTiny.gif)
}
.listTable LI.tableDataUnderscoreAlt {
	LIST-STYLE-POSITION: inside; LIST-STYLE-IMAGE: url(/images/iconPointerBlueTiny.gif)
}
LI.tableDataUnderscore {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 5px; BORDER-LEFT: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 5px
}
LI.tableDataUnderscoreAlt {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 5px; BORDER-LEFT: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 5px
}
LI.tableDataUnderscoreNoArrow {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 5px; BORDER-LEFT: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 5px
}
LI.tableDataUnderscoreNoArrowAlt {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 5px; BORDER-LEFT: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 5px
}
LI.tableDataUnderscore SPAN.warning {
	MARGIN: 0px
}
LI.tableDataUnderscoreAlt SPAN.warning {
	MARGIN: 0px
}
LI.tableDataUnderscoreNoArrow SPAN.warning {
	MARGIN: 0px
}
LI.tableDataUnderscoreNoArrowAlt SPAN.warning {
	MARGIN: 0px
}
.floatLeft {
	FLOAT: left
}
.leftText {
	FLOAT: left
}
.rightText {
	FLOAT: right
}
.leftText {
	WIDTH: 50%; BACKGROUND: #e7e7e7
}
.rightText {
	WIDTH: 50%; BACKGROUND: #e7e7e7
}
.container_box {
	BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #999 1px solid; PADDING-RIGHT: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0
}
.clearall {
	CLEAR: both
}
